<div class="container">
  <h2 class="heading">Sample Form</h2>
  <h3 class="heading"><i>Please fill the values</i></h3>
  <hr>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)" novalidate>
    <div class="form-group">
      <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
      <div *ngIf="formErrors.name" class="alert alert-danger">
        {{ formErrors.name }}
      </div>
      <label class="center-block">Value:
      <input  class="form-control" formControlName="value">
    </label>
      <div *ngIf="formErrors.value" class="alert alert-danger">
        {{ formErrors.value }}
      </div>
      <label class="center-block">Start Date:
      <input type="date" class="form-control" formControlName="startDate">
    </label>
    <div *ngIf="formErrors.value" class="alert alert-danger">
        {{ formErrors.value }}
      </div>
      <label class="center-block">End Date:
      <input type="date" class="form-control" formControlName="endDate">
    </label>
    <div *ngIf="formErrors.value" class="alert alert-danger">
        {{ formErrors.value }}
      </div>
    </div>
    <button class="button btn btn-success" type="submit" [disabled]="testForm.invalid">Report</button>
  </form>
</div>

<!--<p>Form value: {{ testForm.value | json }}</p>
<p>Form status: {{ testForm.status | json }}</p>-->