<div class="container" *ngIf="!form_submitted">
  <h2 class="heading">Sample Form</h2>
  <h3 class="heading"><i>Please fill the values</i></h3>
  <hr>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)" novalidate>
    <div class="form-group">
      <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
      <div *ngIf="formErrors.name" class="alert alert-danger">
        {{ formErrors.name }}
      </div>
      <label class="center-block">Value:
      <input  class="form-control" formControlName="value">
    </label>
      <div *ngIf="formErrors.value" class="alert alert-danger">
        {{ formErrors.value }}
      </div>
      <label class="center-block">Start Date:
      <input type="date" class="form-control" formControlName="date_start">
    </label>
      <div *ngIf="formErrors.date_start" class="alert alert-danger">
        {{ formErrors.date_start }}
      </div>
      <label class="center-block">End Date:
      <input type="date" class="form-control" formControlName="date_end" >
    </label>
      <div *ngIf="formErrors.date_end" class="alert alert-danger">
        {{ formErrors.date_end }}
      </div>
    </div>
    <button class="button btn btn-success" type="submit" [disabled]="testForm.invalid">Report</button>
  </form>
</div>

<div class="rel" *ngIf="form_submitted">
<div class="container" >
  <h2 class="heading">Submitted values</h2>
  <p class="heading"><b>Name:</b> {{name}}</p>
  <p class="heading"><b>Start Date:</b> {{start_date}}</p>
  <p class="heading"><b>End Date:</b> {{end_date}}</p>
</div>
<div class="outer">
</div>
  <div class="pie-wrapper" >
    <div class="pie" [ngClass]="{'pieAuto': pieAuto, 'pieClipped': pieClipped}">
      <div class="half-circle left" [style.transform]="rotateValue"></div>
      <div class="half-circle right" [style.display]="show"></div>
    </div>
    <div class="label"><span class="label-span"> {{value}} % </span></div>
  </div>
  
</div>